<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teacher.dao.GradeMapper">

    <insert id="add" parameterType="Grade">
        INSERT INTO grade ( year,semester,teach_class,course_title,file_name,user_id)
        VALUES (#{year},#{semester},#{teachClass},#{courseTitle},#{fileName},#{userId})
    </insert>
    <delete id="delete" parameterType="Long">
        DELETE FROM grade
        WHERE id=#{id}
    </delete>
    <update id="update" parameterType="Grade">
        UPDATE grade
        SET year=#{year},semester=#{semester},teach_class=#{teachClass},course_title=#{courseTitle},file_name=#{fileName}
        WHERE id=#{id}
    </update>
    <select id="findById" parameterType="Long" resultType="Grade">
        SELECT id,year,semester,teach_class,course_title,file_name,user_id
        FROM grade
        WHERE id=#{id}
    </select>
    <select id="findAll" resultType="Grade">
        SELECT id,year,semester,teach_class,course_title4646464646464646464,file_name,user_id
        FROM grade
    </select>
    <select id="findByCondition" parameterType="Grade" resultType="Grade">
        SELECT id,year,semester,teach_class,course_title,file_name,user_id
        FROM grade
        WHERE user_id=#{userId}
        <if test="year != null and year != ''">
        and year = #{year}
        </if>
        <if test="semester != null and semester != ''">
            and semester = #{semester}
        </if>
        <if test="teachClass != null and teachClass != ''">
            and teachClass = #{teachClass}
        </if>
        <if test="courseTitle != null and courseTitle != ''">
            and courseTitle = #{courseTitle}
        </if>
    </select>

</mapper>