<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teacher.dao.StudentWorkMapper">

    <insert id="add" parameterType="StudentWork">
        INSERT INTO student_work (work_type,year,semester,class_name,course_title,file_name,user_id)
        VALUES (#{workType},#{year},#{semester},#{className},#{courseTitle},#{fileName},#{userId})
    </insert>
    <delete id="delete" parameterType="Long">
        DELETE FROM student_work
        WHERE id=#{id}
    </delete>
    <update id="update" parameterType="StudentWork">
        UPDATE student_work
        SET work_type=#{workType},semester=#{semester},
            class_name=#{className},course_title=#{courseTitle},file_name=#{fileName}
        WHERE id=#{id}
    </update>
    <select id="findById" parameterType="Long" resultType="StudentWork">
        SELECT work_type,semester,class_name,course_title,file_name,user_id
        FROM student_work
        WHERE id=#{id}
    </select>
    <select id="findAll" resultType="StudentWork">
        SELECT work_type,semester,class_name,course_title,file_name,user_id
        FROM student_work
    </select>
    <select id="findAllByUserId" parameterType="Long" resultType="StudentWork">
        SELECT work_type,semester,class_name,course_title,file_name,user_id
        FROM student_work
        WHERE user_id=#{userId}
    </select>
</mapper>